  /* RESPONSIVE FOR MOBILES */
  @media screen and (max-width: 768px) {
    body {
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer and Edge */
      }
    
      /* Hide scrollbar for WebKit browsers (Chrome, Safari) */
      body::-webkit-scrollbar {
        display: none;
      }

      header {
          height: 100px;
          position: relative;
          width: 100vw;
      }

      .headerbackground {
          height: 120px;
      }

      .headerdropdown {
          position: relative;
          display: flex;
      }

      .headerdrpsymb {
          font-size: 24px;
          padding: 18px 20px;
          position: relative;
          z-index: 1001;
          cursor: pointer;
          transition: background-color 0.1s ease-in-out;
          color: orange;
      }

      .headerdropbuttons {
          position: absolute;
          transform: translateY(-70px);
          left: -500px;
          width: 200px;
          background-color: #fff;
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
          transition: left 0.3s ease;
          z-index: 999;
          padding: 150px 0px 0px 10px;
          list-style-type: none;
          margin: 0px;
      }

      .headerdropbuttons li {
          cursor: pointer;
          margin: 10px;
      }

      .headerdropbuttons li:last-child {
          padding: 0px 0px 30px 0px;
      }

      .headerdropbuttons a {
          text-decoration: none;
          text-align: left;
          font-size: 20px;
          color: black;
          display: block;
          padding: 8px 20px;
          transition: background-color 0.2s ease-in-out;
      }

      .headerdropbuttons a:hover {
          background-color: rgba(0, 0, 0, 0.1);
      }

      .headerdropbuttons a:active {
          background-color: rgba(0, 0, 0, 0.2);
      }

      .headerdropbtn .headerdrpsymb:active {
          background-color: rgba(255, 255, 255, 0.2);
      }

      .account{
        position: absolute;
        display: block;
        justify-content: right;
        align-items: center;
        order: 3;
        z-index: 999;
        right: 0px;
        }
        

      .accountlogo{
        display: flex;
        order: 3;
        z-index: 1000;
        width: 50px;
        height: 50px;
        padding: 10px 10px;
        margin: 5px;
        cursor: pointer;
      }

      .accountlogo:active {
        background-color: rgba(255, 255, 255, 0.2);
    }

    .accdropbuttons,
    .accdropbuttons1 {
        position: absolute;
          transform: translateY(-70px);
          left: -230px;
          width: 200px;
          background-color: #fff;
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
          transition: left 0.3s ease;
          z-index: 999;
          padding: 150px 0px 0px 10px;
          list-style-type: none;
          margin: 0px;
          display: flex;
          flex-direction: column;
    }

    #loggedIn{
        display: none;
    }

    #notLoggedIn{
        display: block;
    }

    .accdropbuttons li,
    .accdropbuttons1 li {
        cursor: pointer;
        margin: 10px;
    }

    .accdropbuttons li:last-child,
    .accdropbuttons1 li:last-child {
        padding: 0px 0px 30px 0px;
    }

    .accdropbuttons a,
    .accdropbuttons1 a{
        text-decoration: none;
        text-align: left;
        font-size: 20px;
        color: black;
        display: block;
        padding: 8px 20px;
        transition: background-color 0.2s ease-in-out;
    }

    .accdropbuttons a:hover,
    .accdropbuttons1 a:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .accdropbuttons a:active,
    .accdropbuttons1 a:active {
        background-color: rgba(0, 0, 0, 0.2);
    }

    .accdropbtn .headerdrpsymb:active {
        background-color: rgba(255, 255, 255, 0.2);
    }

      .logo1 img {
          max-width: 80px;
          max-height: 80px;
      }

      .logo1 {
          order: 2;
      }

      .headerbuttons {
          display: none;
          z-index: 1001;
      }

      .headerbuttons ul {
          display: none;
      }

      .slideshow-container {
          padding-top: 40px;
          max-width: 95%;
      }

      .text1 {
        top: 230px;
      }

      .slides img {
          transform: translate(-4vw, -20%);
      }

      .bodyhome .bodyhomecontent h1 {
          font-size: 20px;
      }

      .bodyhome .bodyhomecontent h2 {
        font-size: 16px;
    }

      .imagede div {
          transform: scale(0.85);
          right: -16px;
          margin-right: 0px;
          margin-left: 0px;
      }

      .signupFormBox,
      .loginFormBox{
        width: 70vw;
      }

      .custom-alert {
        padding: 50px 0px;
      }

      .close-btn {
        top: -55px;
        right: 12px;
        font-size: 40px;
        transition: color 0.2s ease-in-out;
      }

      .close-btn:hover {
        top: -55px;
        right: 12px;
        font-size: 40px;
        color: gray;
      }
      

      #loginAlertMessage,
#failedLoginAlertMessage {
  text-align: center;
  position: relative;
  width: 200px;
}
  }

  @media screen and (max-width: 900px) {
      .headeritems {
          margin-left: 10px;
          margin-right: 10px;
      }

  }

  @media screen and (max-width: 480px) {
      .headeritems {
          margin-left: 10px;
          margin-right: 10px;
      }

      .imagede div {
          transform: scale(0.75);
          margin-right: 0px;
          margin-left: 0px;
      }

      .bodyhome .bodyhomecontent h1 {
          font-size: 16px;
      }

      .bodyhome .bodyhomecontent h2 {
          font-size: 14px;
      }

      .signupFormBox,
      .loginFormBox{
        width: 90vw;
      }

      .loginContents,
      .signupContents{
transform: scale(0.8);
      }

      .signupFinalContents{
        transform: scale(0.7);
        flex-wrap: nowrap;
              }
        

  }