* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
    max-width: 100vw;
    overflow-y: hidden;
}

body {
    background-color: #ffffff88;
    min-height: 100vh;
    width: 100vw;
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: orange; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #c50000; 
    border-radius: 5px; 
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 0, 0) 
  }

.headercontent{
    width: 100vw;
}

.logo1 img {
    margin-left: 10px;
    max-width: 120px;
    max-height: 120px;
}

.logo1 {
z-index: 1001;
}

.headerbackground {
    background-color: rgb(82, 0, 0);
    position: absolute;
    display: flex;
    border-bottom: 20px solid orange;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    width: 100vw;
    height: 140px;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    z-index: 1000;
    font-family: 'Exo 2', sans-serif;
    width: 100vw;
    height: 140px;
}

.headerdropdown {
    display: none;
}

.headeritems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 140px;
    width: 100vw;
    margin-left: 50px;
    margin-right: 50px;
    transition: margin-left 0.6s ease-in-out, margin-right 0.6s ease-in-out;
}

nav.headerbuttons {
z-index: 1001;
}


nav.headerbuttons ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav.headerbuttons ul li {
    margin-right: 15px;
}

nav.headerbuttons ul li a {
    text-decoration: none;
    display: flex;
    position: relative;
    cursor: pointer;
}

nav.headerbuttons ul li a.buttons1 {
    height: 40px;
    font-weight: bold;
    color: #ffffff;
    background-color: #c50000;
    border: 0px;
    font-size: 18px;
    align-items: center;
    padding: 1px 30px;
}

nav.headerbuttons ul li a.buttons2 {
    height: 40px;
    color: #ffffff;
    font-size: 19px;
    align-items: center;
    position: relative;
    text-align: center;

}

nav.headerbuttons ul li a.buttons2::after {
    content: '';
    position: absolute;
    top: 0;
    right: -33px;
    height: 100%;
    width: 1px;
    background-color: #ffffff;
}

nav.headerbuttons ul li:nth-child(5) a.buttons2::after {
    display:none;
}

nav.headerbuttons ul li:nth-child(1) a {
    border-radius: 20px 0px 0px 20px;
    margin-right: -12px;
    transition:
        box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out,
        background-color 0.2s ease-in-out;
}

nav.headerbuttons ul li:nth-child(2) a {
    border-radius: 3px;
    margin-right: -12px;
    transition:
        transform 0.2s ease-in-out, font-size 0.6s ease-in-out,
        background-color 0.2s ease-in-out;
}

nav.headerbuttons ul li:nth-child(3) a {
    border-radius: 0px 20px 20px 0px;
    margin-right: 10px;
    transition:
        background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out,
        color 0.2s ease-in-out, margin-right 0.6s ease-in-out;
}

nav.headerbuttons ul li:nth-child(4) a {
    margin-right: 10px;
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
    background-color: transparent;
    transition: 
        color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

nav.headerbuttons ul li:last-child a {
    margin-right: 0px;
    margin-left: 20px;
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
    background-color: transparent;
    transition:
        color 0.2s ease-in-out, background-color 0.1s ease-in-out;
}

nav.headerbuttons ul li a.buttons2:hover {
    color: rgba(255, 255, 255, 0.8);
}

nav.headerbuttons ul li a.buttons2:active {
    color: rgb(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.273);
}

nav.headerbuttons ul li a.buttons1.on-specific-page {
    background-color: #ff963f;
    transform: translateY(-5px);
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
}

nav.headerbuttons ul li a.buttons1.on-specific-page:hover {
    background-color: #ff7d13;
    transform: translateY(-5px);
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
}

nav.headerbuttons ul li a.buttons1.on-specific-page:active {
    background-color: #900000;
    transform: translateY(1px);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

nav.headerbuttons ul li a.buttons1:hover {
    background-color: #b90000;
    transition: background-color 0.3s ease, box-shadow 0.2s ease-in-out,
        transform 0.2s ease-in-out;
    transform: translateY(-2px);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
}

nav.headerbuttons ul li a.buttons1:active {
    background-color: #900000;
    transition: background-color 0.3s ease, box-shadow 0.2s ease-in-out,
        transform 0.2s ease-in-out;
    transform: translateY(1px);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}
/* */

footer {
    margin-top: auto;
    background-color: hwb(0 74% 26%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 8px rgba(255, 255, 255, 0.5);
    font-family: 'Exo 2', sans-serif;
    z-index: 500;
    width: 100vw;
    height: 300px;
}

.logo2 img {
    max-width: 120px;
    max-height: 120px;
    margin-left: 20px;
}

footer nav ul li{
    list-style-type: none;
    margin-top: 30px;
}

footer nav ul li a{
    text-decoration: none;
    color: #7b7b7b;
}

footer nav ul li a:hover{
    color: #5d5c5c;
}