  /* RESPONSIVE FOR MOBILES */
  @media screen and (max-width: 768px) {
      header {
          height: 80px;
      }

      .logo1 img {
          padding-left: 0px;
          max-width: 80px;
          max-height: 80px;
      }

      nav.header ul li a.buttons2::after {
          top: 7px;
          height: 70%;
          right: -10.5px;
      }

      nav.header ul li:nth-child(4) a {
          font-size: 14px;
          margin-right: -10px;
      }

      nav.header ul li:last-child a {
          margin-right: 1px;
          margin-left: -5px;
          font-size: 14px;
      }

      nav.header ul li a.buttons1 {
          font-size: 12px;
          padding: 0px 9px;
      }

      nav.header ul li:nth-child(3) a.buttons1 {
          font-size: 12px;
          padding: 0px 9px;
          margin-right: -12px;
      }

      .slideshow-container {
          padding-top: 140px;
          max-width: 90%;
      }

      .slides img {
          transform: translate(-4vw, -20%);
      }

      .bodyhomecontent h1{
        font-size:20px;
      }
  }