@font-face {
  font-family: 'HelveticaBlack';
  src: url('Helvetica-Black Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.content{
  width: 100vw;
}

.slideshow-container {
  display: flex;
  max-width: 60%;
  padding-top: 60px;
  position: relative;
  margin: 0 auto;
  font-family: 'Exo 2', sans-serif;
  overflow: hidden;
  height: 500px;
  white-space: nowrap;
  transition: max-width 0.6s ease-in-out;
}

.text1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  z-index: 2;
}

.text1 p {
  position: absolute;
  top: 170%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  z-index: 2;
}

.order1 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  left: 45px;
  top: 380%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  height: 30px;
  color: #ffffff;
  background-color: #c50000;
  border: 3px solid #c50000;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 18px;
  font-family: 'HelveticaBlack';
  cursor: pointer;
  align-items: center;
  padding: 8px 50px;
  transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    text-shadow 0.2s ease-in-out;
}

.order1:hover {
  color: #ffec98;
  box-shadow: 0 0px 5px #ffec98;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.order1:active {
  color: #ffe5cf;
  top: 400%;
  box-shadow: 0 0px 1px #ffe5cf;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  transition: top 0.2s ease-out;
}

.slidesarea {
  display: flex;
  position: relative;
  transition: transform 3s ease-in-out;
  overflow-y: hidden;
  overflow-x: hidden;
}

.slides {
  display: flex;
  position: relative;
  transform: translateY(10px);
  min-width: 700px;
  min-height: 700px;
}

.slides img {
  display: block;
  position: relative;
  height: 1000px;
  width: 100%;
  transform: translate(0, -20%);
}

.division-line {
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.3);
  z-index: 3;
}

/* */

.bodyhome {
  margin-top: 20px;
  display: block;
  overflow: hidden;
  background-color: rgb(236, 236, 236);
  z-index: 2;
}

.bodyhome {
  text-align: center;
  font-family: 'Exo 2', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 800px;
  max-width: 100%;
}

.bodyhome .bodyhomecontent h1 {
  transition: font-size 0.6s ease-in-out;
  word-wrap: break-word;
}

.bodyhome .bodyhomecontent h2 {
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
  transition: font-size 0.6s ease-in-out;
}

.bodyhome .bodyhomecontent {
  margin-top: 50px;
  display: block;
  justify-content: center;
  align-items: center;
}

.slideshow-container1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 50px;
  overflow: hidden;
  height: 600px;
}

.slidesarea1 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-family: 'HelveticaBlack';
  width: 100%
}

.imagede {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.imagede img {
  border: 5px solid orange;
  border-radius: 50px;
  transform: translate(20%, 0);
  height: 350px;
  width: 350px;
}

.imagede div {
  position: relative;
  display: flex;
  width: 500px;
  height: 500px;
  transform-origin: top;
}

.deliveryexclusive2 {
  position: absolute;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  max-width: 100%;
  transform: translate(-50%, 370px);
  z-index: 2;
}

.deliveryexclusive1 {
  position: absolute;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 40px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  transform: translate(30%, 286px);
  z-index: 2;
}

.deliveryexclusive {
  position: absolute;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  transform: translate(-120%, 290px);
  color: white;
  z-index: 2;
  background-color: #c50000;
  border: 3px solid #c50000;
  border-radius: 25px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
}

.deliveryexclusive:hover {
  color: #ffec98;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.deliveryexclusive:active {
  color: #ffe5cf;
  transform: translate(-120%, 300px);
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.4);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  transition: transform 0.2s ease-out;
}