header {
    background-color: hsl(0, 100%, 75%);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 15px;
}

nav ul li:last-child {
    margin-left: 0px;
}