* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
    max-width: 100vw;
    overflow-x: hidden;
}

#home{
    margin:0;
    padding:0;
    width:100%;
}

#mainContent{
    margin:0;
    padding:0;
    width:100%;
    height:auto;
    opacity: 0; 
    transition: opacity 0.5s ease-in-out; 
}
  
  #mainContent.loaded {
    opacity: 1; 
  }
  

body {
    background-color: rgba(255, 255, 255, 1);
    min-height: 100vh;
    max-width: 100vw;
    width: 100%;
    position: relative;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: orange;
}

::-webkit-scrollbar-thumb {
    background: rgb(197, 0, 0);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 0, 0);
}

.headercontent {
    width: 100%;
}

.logo1 img {
    margin-left: 10px;
    max-width: 120px;
    max-height: 120px;
}

.logo1 {
    z-index: 1001;
}

.headerbackground {
    background-color: rgb(82, 0, 0);
    position: absolute;
    display: flex;
    border-bottom: 20px solid orange;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 8px;
    z-index: 1000;
    width: 100%;
    height: 140px;
}

header {
    position: sticky;
    top: 0px;
    display: flex;
    z-index: 1000;
    font-family: "Exo 2", sans-serif;
    width: 100%;
    height: 140px;
}

.headerdropdown {
    display: none;
}

.headeritems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 140px;
    width: 100vw;
    margin-left: 50px;
    margin-right: 50px;
    transition: margin-left 0.6s ease-in-out 0s, margin-right 0.6s ease-in-out 0s;
}

.accountlogo{
    display: none;
  }

.accdropdown {
    display: none;
}

nav.headerbuttons {
    z-index: 1001;
}

.loggedIn{
    display: none;
}

.notLoggedIn{
    display: block;
}

.logOutButton{
    vertical-align: middle;
    align-items: center;
    height: auto;
    width: auto;
}

nav.headerbuttons ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
}

nav.headerbuttons ul li {
    margin-right: 15px;
    align-items: center;
}

nav.headerbuttons ul li a {
    text-decoration: none;
    align-items: center;
    display: flex;
    position: relative;
    cursor: pointer;
}

nav.headerbuttons ul li a.buttons1 {
    height: 40px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(197, 0, 0);
    border: 0px;
    font-size: 18px;
    align-items: center;
    padding: 1px 30px;
}

nav.headerbuttons ul li a.buttons2 {
    height: 50px;
    padding: 0rem 1rem;
    color: rgb(255, 255, 255);
    border: 20px 0px;
    font-size: 19px;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

nav.headerbuttons ul li:nth-child(4) a.buttons2::after {
    content: "";
    position: relative;
    display: block;
    transform: translatex(29px);
    height: 50px;;
    width: 1px;
    background-color: rgb(255, 255, 255);
}

nav.headerbuttons ul li:nth-child(1) a {
    border-radius: 20px 3px 3px 20px;
    margin-right: -12px;
    transition: box-shadow 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s;
}

nav.headerbuttons ul li:nth-child(2) a {
    border-radius: 3px;
    margin-right: -12px;
    transition: transform 0.2s ease-in-out 0s, font-size 0.6s ease-in-out 0s, background-color 0.2s ease-in-out 0s;
}

nav.headerbuttons ul li:nth-child(3) a {
    border-radius: 3px 20px 20px 3px;
    margin-right: 10px;
    transition: background-color 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s, margin-right 0.6s ease-in-out 0s;
}

nav.headerbuttons ul li:nth-child(4) a {
    margin-left: 0;
    margin-right: 10px;
    background-color: transparent;
    transition: color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
}

nav.headerbuttons ul li:last-child a {
    margin-right: 0px;
    margin-left: 20px;
    background-color: transparent;
    transition: color 0.2s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
}

nav.headerbuttons ul li a.buttons2:active {
    color: rgb(255, 255, 255);
    border: 20px 0px;
    background-color: rgba(255, 255, 255, 0.275);
}

nav.headerbuttons ul li a.buttons1.on-specific-page {
    background-color: rgb(255, 150, 63);
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.5) 1px 5px 10px;
}

nav.headerbuttons ul li a.buttons1.on-specific-page:hover {
    background-color: rgb(255, 125, 19);
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.5) 1px 5px 10px;
}

nav.headerbuttons ul li a.buttons1.on-specific-page:active {
    background-color: rgb(144, 0, 0);
    transform: translateY(1px);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
}

nav.headerbuttons ul li a.buttons1:hover {
    background-color: rgb(185, 0, 0);
    transition: background-color 0.3s ease 0s, box-shadow 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0s;
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 7px;
}

nav.headerbuttons ul li a.buttons1:active {
    background-color: rgb(144, 0, 0);
    transition: background-color 0.3s ease 0s, box-shadow 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0s;
    transform: translateY(1px);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
}

.account{
display: none;
}






/* */

footer {
    margin-top: auto;
    background-color: rgb(189, 189, 189);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(255, 255, 255, 0.5) 0px 1px 8px;
    font-family: "Exo 2", sans-serif;
    z-index: 500;
    width: 100%;
    height: 300px;
}

.logo2 img {
    max-width: 120px;
    max-height: 120px;
    margin-left: 20px;
}

footer nav ul li {
    list-style-type: none;
    margin-top: 30px;
}

footer nav ul li a {
    text-decoration: none;
    color: rgb(123, 123, 123);
}

footer nav ul li a:hover {
    color: rgb(93, 92, 92);
}