* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: #ffffff88;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    display: inline-block;
}

.content {
    color: rgb(0, 0, 0);
    max-width: 100%;
}

.logo1 img {
    padding-left: 10px;
    max-width: 120px;
    max-height: 120px;
    transition: padding 0.6s ease-in-out, max-width 0.6s ease-in-out,
        max-height 0.6s ease-in-out;
}

header {
    background-color: white;
    position: fixed;
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 20px solid orange;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    font-family: 'Exo 2', sans-serif;
    justify-content: space-between;
    z-index: 1000;
    width: 100%;
    height: 100px;
    transition: height 0.6s ease-in-out;
}

nav.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav.header ul li {
    margin-right: 15px;
}

nav.header ul li a {
    text-decoration: none;
    display: inline-flex;
    position: relative;
    cursor: pointer;
}

nav.header ul li a.buttons1 {
    justify-content: center;
    align-items: center;
    height: 40px;
    font-weight: bold;
    color: #ffffff;
    background-color: #c50000;
    border: 0px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.8);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 18px;
    align-items: center;
    padding: 1px 30px;
}

nav.header ul li a.buttons2 {
    height: 40px;
    color: #000000;
    font-size: 19px;
    align-items: center;
    position: relative;
    text-align: center;

}

nav.header ul li a.buttons2::after {
    content: '';
    position: absolute;
    top: 0;
    right: -33px;
    height: 100%;
    width: 1px;
    background-color: #000000;
    transition: height 0.6s ease-in-out, top 0.6s ease-in-out,
        right 0.6s ease-in-out;
}

nav.header ul li:nth-child(5) a.buttons2::after {
    display:none;
}

nav.header ul li:nth-child(1) a {
    border-radius: 20px 0px 0px 20px;
    margin-right: -12px;
    transition: padding 0.6s ease-in-out, font-size 0.6s ease-in-out,
        box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out,
        background-color 0.2s ease-in-out;
}

nav.header ul li:nth-child(2) a {
    border-radius: 3px;
    margin-right: -12px;
    transition: padding 0.6s ease-in-out, box-shadow 0.2s ease-in-out,
        transform 0.2s ease-in-out, font-size 0.6s ease-in-out,
        background-color 0.2s ease-in-out;
}

nav.header ul li:nth-child(3) a {
    border-radius: 0px 20px 20px 0px;
    margin-right: 10px;
    transition: padding 0.6s ease-in-out, font-size 0.6s ease-in-out,
        background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out,
        color 0.2s ease-in-out, margin-right 0.6s ease-in-out;
}

nav.header ul li:nth-child(4) a {
    margin-right: 10px;
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
    background-color: transparent;
    transition: font-size 0.6s ease-in-out,
        color 0.1s ease-in-out, background-color 0.1s ease-in-out, padding-right 0.6s ease-in-out,
        margin-right 0.6s ease-in-out;
}

nav.header ul li:last-child a {
    margin-right: 10px;
    margin-left: 20px;
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
    background-color: transparent;
    transition: font-size 0.6s ease-in-out,
        color 0.2s ease-in-out, background-color 0.1s ease-in-out, padding-right 0.6s ease-in-out,
        margin-right 0.6s ease-in-out, margin-left 0.6s ease-in-out;
}

nav.header ul li a.buttons2:hover {
    color: rgb(122, 122, 122);
}

nav.header ul li a.buttons2:active {
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.273);
}

nav.header ul li a.buttons1.on-specific-page {
    background-color: #ff963f;
    transform: translateY(-5px);
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
}

nav.header ul li a.buttons1.on-specific-page:hover {
    background-color: #ff963f;
    transform: translateY(-5px);
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
}

nav.header ul li a.buttons1:hover {
    background-color: #b90000;
    transition: background-color 0.3s ease, box-shadow 0.2s ease-in-out,
        transform 0.2s ease-in-out;
    transform: translateY(-2px);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
}

nav.header ul li a.buttons1:active {
    background-color: #900000;
    transition: background-color 0.3s ease, box-shadow 0.2s ease-in-out,
        transform 0.2s ease-in-out;
    transform: translateY(1px);
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.8);
}
/* */

footer {
    margin-top: auto;
    padding: 20px;
    background-color: hwb(0 74% 26%);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 8px rgba(255, 255, 255, 0.5);
    font-family: 'Exo 2', sans-serif;
    z-index: 1000;
    width: 100%;
    flex-wrap: wrap;
}

.logo2 img {
    max-width: 120px;
    max-height: 120px;
}

footer nav ul li{
    list-style-type: none;
    margin-top: 10px;
}

footer nav ul li a{
    text-decoration: none;
    color: #000000;
}

footer nav ul li a:hover{
    color: #5d5c5c;
}